@import "../../../styles/base/variables.scss";

.business-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  /* Full height to enable proper layout */
  .business-details-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;

    @media screen and (max-width: 767px) {
      padding: 10px; // Reduced padding for mobile
    }

    .content-inner-wrap {
      background: $color-light-blue-2;
      padding: 24px;
      border-radius: 24px;
      display: flex;
      flex-wrap: wrap;

      @media screen and (max-width: 767px) {
        padding: 16px; // Adjust padding for mobile
      }

      p {
        font-size: 16px;
        width: 100%;
        line-height: 180%;
      }
      
      h3 {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.64px;
        margin-bottom: 4px;
        line-height: 32px;
        margin-right: 20px;
      }

      .form-control {
        max-width: 342px;
        height: 40px;
        border: none;
        padding: 12px 6px;
        border-radius: 8px;
        width: 100%;
        font-size: 16px;
        color: $color-dark;
        border: $color-white solid 1px;
        background: $color-white;

        &:focus {
          border-color: $color-dark;
        }

        &.disabled {
          pointer-events: none;
          background: $color-white;
        }

        @media screen and (max-width: 767px) {
          max-width: 100%; // Full width for mobile
        }
      }
    }

    .title-img {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      @media screen and (max-width: 767px) {
        margin-bottom: 0;
        h2{
          margin-top: 0;
        }
      }

      h1 {
        font-size: 24px;
        font-weight: bold;
        color: #192655;
        margin-right: 10px;

        @media screen and (max-width: 767px) {
          font-size: 20px;
        }
      }

      img {
        width: 24px;
        height: 24px;

        @media screen and (max-width: 767px) {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
