.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */

  .stats-section {
    flex-shrink: 0;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 20px;
    z-index: 1;

    h2 {
      font-size: 24px;
      font-weight: bold;
      color: #192655;
      margin-bottom: 20px;
    }

    .stats-cards {
      display: flex;
      justify-content: space-between;
      overflow-x: auto; /* Enable horizontal scroll for stats on small screens */
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        height: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #cccccc;
        border-radius: 6px;
      }

      .stat-card {
        background-color: #f7faff;
        border-radius: 12px;
        padding: 0 20px;
        flex: 1;
        min-width: 200px;
        margin-right: 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

        &:last-child {
          margin-right: 0;
        }

        h4 {
          font-size: 16px;
          color: #192655;
          margin-bottom: 10px;
        }

        p {
          font-size: 24px;
          font-weight: bold;
          color: #64697b;
        }
      }
    }
  }

  .content-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;
    overflow: hidden; /* Ensures that the content section handles overflow */

    .proposals-header {
      position: sticky;
      top: 0;
      background-color: white;
      padding: 10px 0;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #e0e0e0;

      h2 {
        font-size: 24px;
        font-weight: bold;
        color: #192655;
      }

      .add-proposal-icon-container {
        width: 40px;
        height: 40px;
        background-color: #192655;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .add-proposal-icon {
          font-size: 24px;
          color: white;
        }
      }
    }

    .proposal-list {
      flex: 1; /* Allow the proposal list to take up remaining space */
      overflow-y: auto; /* Enable vertical scrolling */
      margin-top: 20px;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #cccccc;
        border-radius: 6px;
      }

      .proposal-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid layout */
        gap: 20px;

        @media (max-width: 768px) {
          grid-template-columns: 1fr; /* Single column layout for small screens */
        }
      }

      .proposal-card {
        background-color: #f7faff;
        border-radius: 12px;
        padding: 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column; /* Flexbox for vertical alignment */
        justify-content: space-between; /* Push buttons to the bottom */
        min-height: 300px; /* Set a minimum height for the card */

        .proposal-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 15px;

          .proposal-number {
            font-size: 18px;
            font-weight: bold;
            color: #192655;
          }

          .status-badge {
            font-size: 14px;
            font-weight: bold;
            padding: 6px 12px;
            border-radius: 20px;
            text-transform: uppercase;

            &.in-progress {
              background-color: #ffce54;
              color: #fff;
            }

            &.completed {
              background-color: #4dbd74;
              color: #fff;
            }
          }
        }

        .proposal-info {
          font-size: 16px;
          color: #555;
          margin-bottom: 20px;
          line-height: 25px;
          flex-grow: 1; /* Allow the proposal info to take up remaining space */
        }

        .action-buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: auto; /* Push buttons to the bottom */

          .btn {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            border-radius: 8px;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s;
            border: none;

            svg {
              margin-right: 10px;
              font-size: 16px;
            }

            &.resume-btn,
            &.download-btn,
            &.email-btn {
              background-color: #192655;
              color: #fff;

              &:hover {
                background-color: #142048;
              }
            }

            &.delete-btn {
              background-color: transparent;
              color: #f86c6b;

              svg {
                margin-right: 5px;
                color: #f86c6b;
              }

              &:hover {
                color: #d9534f;
                svg {
                  color: #d9534f;
                }
              }
            }
          }
        }
      }
    }
  }

  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 60px;

    button {
      background-color: #192655;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      margin: 0 10px;
      cursor: pointer;
      font-weight: bold;

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }

    span {
      font-size: 16px;
      color: #555;
    }
  }
}
