.password-container {
  position: relative;

  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #999;
  }
}

.redirect {
  margin-top: 20px;
  font-size: 0.875rem;
  color: #666;

  span {
    color: #003399;
    cursor: pointer;
    font-weight: bold;
  }
}

.divider {
  margin: 20px 0;
  position: relative;
  font-size: 0.875rem;
  color: #666;

  span {
    position: relative;
    z-index: 1;
    background: white;
    padding: 0 10px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
  }
}