.password-container {
  position: relative;

  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #999;
  }
}

.redirect {
  margin-top: 20px;
  font-size: 0.875rem;
  color: #666;

  span {
    color: #192655;
    cursor: pointer;
    font-weight: bold;
    text-wrap: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }
}

.divider {
  margin: 20px 0;
  position: relative;
  font-size: 0.875rem;
  color: #666;

  span {
    position: relative;
    z-index: 1;
    background: white;
    padding: 0 10px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .input-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .input-container {
      flex: 1; // This will allow the input containers to take equal space
      position: relative;
      
      input {
        width: 100%; // Input takes up the full width of the container
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 16px;
        color: #333;
  
        &:focus {
          border-color: #0066cc;
        }
      }
    }

    .password-container {
      position: relative;
      display: flex;
      width: 100%;
      
      .toggle-password {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        color: #888;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  // Adjust input widths to be in a single line for large screens
  @media (min-width: 768px) {
    .input-row {
      flex-direction: row;
    }
  }

  // For smaller screens, stack the input containers vertically
  @media (max-width: 768px) {
    .input-row {
      flex-direction: column;
    }
  }
}
