@import "../../../styles/base/variables.scss";

.epics-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .epics-details-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;

    @media screen and (max-width: 767px) {
      padding: 0;
    }

    .title-img {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      h1 {
        font-size: 24px;
        font-weight: bold;
        color: #192655;
        margin-right: 10px;
      }

      img {
        width: 24px;
        height: 24px;
      }

      @media screen and (max-width: 767px) {
        h1 {
          font-size: 20px;
        }

        h2{
          margin: 10px;
        }

        img {
          width: 20px;
          height: 20px;
        }
      }
    }

    .stackholder-content {
      .step-inner-wrap {
        background: $color-light-blue-2;
        border-radius: 24px;
        padding: 8px 24px;
        margin-bottom: 20px;
        overflow-x: auto;
        white-space: nowrap;

        ul {
          display: flex;
          gap: 16px;
          @media screen and (max-width: 767px) {
            padding: 0;
            margin: 8px;
          }

          li {
            border-radius: 8px;
            padding: 8px 16px;
            background: $color-white;
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            font-size: 14px;
            line-height: 16px;
            font-weight: 600;
            letter-spacing: 0.64px;
            transition: background 0.3s, color 0.3s;

            &.active {
              background: $primary-color;
              color: $color-white;

              svg {
                path {
                  fill: $color-white;
                }
              }
            }
          }
        }
      }

      @media (max-width: 768px) {
        .step-inner-wrap {
          padding: 8px 16px;

          ul {
            gap: 12px;

            li {
              padding: 6px 12px;
              font-size: 12px;
            }
          }
        }
      }

      @media (max-width: 480px) {
        .step-inner-wrap {
          padding: 8px 12px;

          ul {
            gap: 8px;

            li {
              padding: 4px 8px;
              font-size: 10px;
            }
          }
        }
      }
    }

    .epics-list {
      @media (max-width: 768px) {
        padding-bottom: 25px;
      }

      .inner-wrap {
        background: $color-light-blue-2;
        padding: 24px;
        border-radius: 24px;
        height: 44vh;
        overflow-y: auto;
        @media (max-width: 768px) {
          max-height: 21vh;
          margin-bottom: 10px;
        }

        .title {
          display: flex; // Use flexbox to align items
          justify-content: space-between; // Align the h4 and add icon at opposite ends
          align-items: center; // Vertically center the elements
          margin-bottom: 20px;

          h4 {
            font-size: 24px;
            font-weight: bold;
            line-height: 145%;
            color: $primary-color;
            margin: 0;

            @media screen and (max-width: 1025px) {
              font-size: 18px;
            }
          }

          .add-icon {
            cursor: pointer; // Make the add icon clickable

            svg {
              width: 24px;
              height: 24px;
              fill: $primary-color; // Color of the icon
            }

            &:hover {
              svg {
                fill: darken($primary-color, 10%); // Darken the icon on hover
              }
            }
          }
        }

        .epic-item {
          margin-bottom: 16px;
          background: $color-white;
          padding: 16px;
          border-radius: 12px;

          .epic-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            h3 {
              margin: 0;
              font-size: 18px;
              color: $primary-color;
            }

            .icon-actions {
              display: flex;
              gap: 10px;

              svg {
                cursor: pointer;
                width: 20px;
                height: 20px;
              }
            }
          }

          .epic-content {
            padding-top: 10px;

            .stories-section {
              background-color: #EFF2FD;
              /* Background color */
              border-radius: 5px;
              /* Border radius */
              padding: 10px;
              /* Padding to differentiate from epics */
              margin-top: 10px;

              .stories-title {
                display: flex; // Use flexbox to align items
                justify-content: space-between; // Align the h4 and add icon at opposite ends
                align-items: center; // Vertically center the elements
                margin-bottom: 20px;

                h4 {
                  font-size: 16px;
                  font-weight: bold;
                  margin-bottom: 12px;
                  margin-top: 5px;
                }

                .add-story-icon {
                  cursor: pointer;

                  /* Make the add icon clickable */
                  svg {
                    width: 20px;
                    height: 20px;
                  }
                }
              }


              // h4 {
              //   font-size: 16px;
              //   font-weight: bold;
              //   margin-bottom: 12px;
              //   margin-top: 5px;
              // }

              .accordion {
                margin-bottom: 12px;

                .accordion-header {
                  display: flex;
                  justify-content: space-between;
                  /* Align title and actions */
                  padding: 12px;
                  background-color: #fff;
                  cursor: pointer;

                  h5 {
                    margin: 0;
                    font-size: 14px;
                    font-weight: 600;
                  }

                  .story-actions {
                    display: flex;
                    gap: 10px;
                    /* Spacing between edit and delete icons */

                    svg {
                      cursor: pointer;
                      /* Make the icons clickable */
                      width: 16px;
                      height: 16px;
                    }
                  }

                }

                .accordion-content {
                  padding: 12px;
                  background-color: #fff;
                  border-top: none;

                  p {
                    margin: 0;
                  }

                  .tasks-section {
                    margin-top: 20px;
                    background-color: #EFF2FD; // Light background for task section
                    padding: 15px;
                    border-radius: 10px;

                    .tasks-title {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      margin-bottom: 20px;
                  
                      h4 {
                        font-size: 16px;
                        font-weight: bold;
                        margin-bottom: 12px;
                        margin-top: 5px;
                      }

                      .add-task-icon {
                        cursor: pointer;

                        /* Make the add icon clickable */
                        svg {
                          width: 20px;
                          height: 20px;
                        }
                      }
                    }

                    ul {
                      list-style: none;
                      padding: 0;

                      .task-item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: #fff;
                        border: 1px solid #ddd;
                        border-radius: 8px;
                        padding: 10px 15px;
                        margin-bottom: 10px;

                        .task-details {
                          flex: 1;

                          p {
                            margin: 0;
                            font-size: 14px;
                            color: #333;
                          }

                          .task-complexity {
                            font-size: 12px;
                            color: #777;
                            margin-top: 5px;
                            display: block;
                          }
                        }

                        .task-actions {
                          display: flex;
                          gap: 10px;

                          span {
                            cursor: pointer;
                            display: flex;
                            align-items: center;

                            svg {
                              width: 16px;
                              height: 16px;
                              fill: #333;
                            }

                            &:hover svg {
                              fill: #555;
                            }
                          }
                        }
                      }
                    }

                    p {
                      color: #777;
                      font-size: 14px;
                    }
                  }

                }
              }
            }

            p {
              margin: 0;
              font-size: 14px;
              color: #555;
            }
          }
        }
      }
    }
  }

}